.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.section-headline {
  display: flex;
  width: 100%;
  height: 65px;
  border-bottom: 1px solid #d4d4d4;
  align-items: center;
  justify-content: space-between;
  color: #343232;
  font-family: "Inter", sans-serif;
}

.main-footer {
  width: 100%;
  align-self: center;
  max-width: 900px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  color: #454545;
  font-family: "Inter", sans-serif;
  align-items: center;
}

.contact-links {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.contact-links > a {
  color: #454545;
  font-family: "Inter", sans-serif;
}

.contact-links > a:visited {
  color: #454545;
  font-family: "Inter", sans-serif;
}

.contact-links a {
  text-decoration: none;
}

.copyleft {
  color: #cacaca;
  margin: 30px 0px 20px 0px;
}
