/** Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/** Parent Containers */

nav {
  width: 100%;
  height: 4.5em;
  border-bottom: 1px solid #b1aeae;
  background-color: #f7f7f7;
}

#nav-search-container {
  display: flex;
  max-width: 1200px;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/** Navigation Icon Images */

#nav-color-scheme > img {
  width: 20px;
  margin-left: 10px;
  opacity: 0.9;
}

#search-hamburger > img {
  width: 20px;
  margin-right: 20px;
  opacity: 0.7;
}

/** Main Text Search Area */

#nav-main-search {
  display: flex;
  border: 1px solid #d4d2d2;
  border-radius: 7px;
  padding: 8px;
  width: 75%;
  background-color: white;
}

#nav-main-search img {
  width: 20px;
  height: 15px;
  align-self: center;
  opacity: 0.6;
}

#nav-main-search input[type="text"] {
  border: none;
  width: 100%;
  padding-left: 10px;
  align-self: center;
  font-family: "Nunito", "Arial";
  font-size: 0.8em;
}

#nav-main-search input[type="text"]:focus {
  outline: none;
}
