.tag {
  border-radius: 15px;
  padding: 5px 15px 5px 15px;
  font-size: 0.7em;
  margin: 15px 5px 0px 5px;
}

.post-tag-purple {
  background-color: #e0e0ff;
  color: #121212;
}

.post-tag-purple:hover {
  background-color: #9797e3;
  cursor: pointer;
  color: #121212;
}

.post-tag-green {
  background-color: #e2ffe0;
  color: #484a48;
}

.post-tag-green:hover {
  background-color: #a2ea9d;
  cursor: pointer;
  color: #484a48;
}

.post-tag-orange {
  background-color: #fff9e0;
  color: #d1a900;
}

.post-tag-orange:hover {
  background-color: #f4db76;
  cursor: pointer;
  color: #d1a900;
}

.post-tag-red {
  background-color: #ffe0e0;
  color: #484a48;
}

.post-tag-red:hover {
  background-color: #f79999;
  cursor: pointer;
  color: #484a48;
}
