/** Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 1.2em;
}

body::-webkit-scrollbar-track {
  width: 1.55em;
  background-color: var(--scroll-bg);
  border-left: 1px solid var(--scroll-border);
}

body::-webkit-scrollbar-thumb {
  background: var(--scroll);
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.section-headline {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--section-headline-border);
  align-items: center;
  justify-content: space-between;
  color: var(--section-headline-font-color);
  font-family: "Inter", sans-serif;
}

.results {
  height: 300px;
  width: 60%;
  border: 1px solid black;
  position: absolute;
  margin: 0 auto;
  margin-top: 320px;
  background-color: white;
  z-index: 10;
  border-radius: 10px;
  border-top: none;
  border: 1px solid #cecece;
  border-top: none;
}

.overlay {
  opacity: 0.9;
  background: var(--nav-background);
  color: var(--main-font-color);
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
  font-family: "Inter", sans-serif;
  text-align: center;
  padding: 30px;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: transform 0.3s ease-in-out;
}

.overlay > ul {
  font-size: 3em;
  text-decoration: none;
  list-style: none;
  font-weight: 600;
}
.overlay > ul li {
  opacity: 1;
  margin-bottom: 20px;
  font-weight: 700;
  color: var(--main-font-color);
  background: var(--nav-background);
  letter-spacing: -1px;
  transition: 0.2s;
  text-transform: uppercase;
  cursor: pointer;
}

.overlay > ul li:hover {
  background: -webkit-linear-gradient(#eee, var(--main-accent-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.close {
  font-size: 4em;
  transition: 0.5s;
}

.close:hover {
  font-size: 4em;
  color: #e74c3c;
}

.collapsed {
  transform: scaleY(1);
}

@media (max-width: 930px) {
  .section-headline {
    flex-direction: column;
    padding-bottom: 15px;
  }

  body::-webkit-scrollbar-track {
    background-color: var(--scroll-bg);
    border-left: 1px solid var(--scroll-border);
  }

  body::-webkit-scrollbar-thumb {
    background: var(--scroll);
    box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
      inset -2px -2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
}
