.card-container {
  padding: 50px;
  font-family: "Inter";
}

:root {
  --base-grid: 8px;
  --colour-body-background: white;
  --colour-background: #707070;
  --colour-background-folded: #aae8ff;
  --colour-background-stripes: rgba(255, 255, 255, 0.5);
  --colour-text: #1a1a1a;
}

.article {
  cursor: pointer;
  display: block;
  position: relative;
  perspective: 1000px;
  animation-name: animateIn;
  animation-duration: 0.35s;
  animation-delay: calc(var(--animation-order) * 100ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.article:before {
  content: "";
  position: absolute;
  top: calc(var(--base-grid) * -2);
  left: calc(var(--base-grid) * -2);
  border: 2px dashed #707070;
  background-image: repeating-linear-gradient(
    -24deg,
    transparent,
    transparent 4px,
    var(--colour-background-stripes) 0,
    var(--colour-background-stripes) 5px
  );
  z-index: -1;
}

.article,
.article:before {
  width: calc(var(--base-grid) * 25);
  height: calc(var(--base-grid) * 25);
}

.card-link {
  background-color: var(--colour-body-background);
  border: 2px solid #707070;
  display: block;
  width: 100%;
  height: 100%;
}

.card-link:after {
  content: "";
  position: absolute;
  top: 50%;
  right: calc(var(--base-grid) * 3);
  width: calc(var(--base-grid) * 2);
  height: calc(var(--base-grid) * 2);
  margin-top: calc(var(--base-grid) * -1);
  clip-path: polygon(75% 0, 100% 50%, 75% 100%, 0 100%, 25% 50%, 0 0);
  -webkit-clip-path: polygon(75% 0, 100% 50%, 75% 100%, 0 100%, 25% 50%, 0 0);
  background-color: var(--colour-background);
  opacity: 0;
  transition: opacity 0.5s ease-in, transform 0.3s ease-in-out 0ms;
}

.main-card-container {
  background-color: #aae8ff;
  color: var(--colour-text);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid var(--colour-background);
  text-align: center;
}

.main-card-container--lhs {
  clip-path: polygon(0 0, 51% 0, 51% 100%, 0 100%);
  -webkit-clip-path: polygon(0 0, 51% 0, 51% 100%, 0 100%);
}

.main-card-container--rhs {
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
  transition: transform 0.5s ease-in-out, background-color 0.4s ease-in-out;
}

.main-content {
  font-size: 2em;
  line-height: 1.5;
  font-weight: 700;
  padding-top: 20px;
}

.card-footer {
  height: 20%;
  width: 100%;
  background-color: #3d768b;
  font-size: calc(var(--base-grid) * 2);
  line-height: calc(var(--base-grid) * 2);
  display: flex;
  margin-top: auto;
  align-items: center;
  justify-content: center;
  color: white;
}

.card-link:hover .main-card-container--rhs {
  background-color: var(--colour-background-folded);
  transform: rotateY(-50deg);
}

.card-link:hover:after {
  opacity: 1;
  transform: translateX(calc(var(--base-grid) * 1.5));
  transition: opacity 0.5s ease-in, transform 0.3s ease-in-out 0.25s;
}
