.projects-container {
  width: 100%;
  max-width: 900px;
  align-self: center;
  margin-top: 50px;
}

.projects-headline {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--section-headline-border);
  align-items: center;
  justify-content: space-between;
  color: #343232;
  font-family: "Inter", sans-serif;
}

.project-header-link {
  font-weight: 600;
  box-shadow: inset 0 -10px 0 0 var(--main-accent-color);
  transition: 0.2s;
}

.project-header-link:hover {
  font-weight: 600;
  box-shadow: inset 0 -20px 0 0 var(--main-accent-color);
}

.projects-section {
  display: flex;
  flex-direction: column;
}

.project:nth-child(1) {
  margin-top: 35px;
}

.project {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  transition: 0.2s;
}

.project:hover {
  box-shadow: inset 0 -10px 0 0px var(--main-accent-color);
  cursor: pointer;
}

.project-title {
  margin-left: 10px;
  color: var(--main-font-color);
  font-family: "Inter", sans-serif;
  font-size: 1.4em;
  font-weight: 600;
  width: 30%;
}

.project-description {
  color: var(--main-font-color);
  font-family: "Inter", sans-serif;
  font-size: 0.8em;
}

@media (max-width: 935px) {
  .projects-container {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (max-width: 600px) {
  .project-description {
    padding-top: 10px;
    font-size: 1.2em;
    font-style: italic;
    opacity: 0.8;
  }

  .projects-container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .project {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .project-title {
    width: 100%;
  }
}
